mat-spinner {
  margin-top: 1rem;
  padding: auto;
}

h3 {
  display: inline-block;
  margin-right: 1rem;
}

mat-spinner {
  display: inline-block;
}

mat-card {
  margin: 1rem 0;
}

mat-expansion-panel-header {
  padding: 0 12px;
}

.mat-expansion-panel-body {
  padding: 0 12px 16px !important;
}
