mat-spinner {
  margin-top: 1rem;
  padding: auto;
}

h3 {
  display: inline;
}

mat-card {
  margin: 1rem 0;
}

mat-expansion-panel-header {
  padding: 0 12px;
}

button {
  margin-bottom: 1rem;
}

.mat-expansion-panel-body {
  padding: 0 0 16px;
}
